Version/GlobalAssemblyInfo.cs
Web/App_Code/GlobalAssemblyInfo.cs
Web/Bin
*.suo
Data*/obj
Data*/bin
Web*/bin
Web*/obj
Tools*/bin
Tools*/obj
Version*/bin
Version*/obj
SgmlReader/**/bin
SgmlReader/**/obj
TransitData/obj
TransitData/bin
Target
Web.Deploy/Release
Web.Deploy/Debug
Web.Deploy/Target


