<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <section name="AdditionalProjectFiles" type="DBlog.Data.Mapping.AdditionalProjectFilesConfigurationSection, DBlog.Data.Mapping"/>
  <section name="ClobProperties" type="DBlog.Data.Mapping.ClobPropertiesConfigurationSection, DBlog.Data.Mapping"/>
  <section name="RemoveMappings" type="DBlog.Data.Mapping.RemoveMappingConfigurationSection, DBlog.Data.Mapping"/>
 </configSections>
 <appSettings>
  <add key="nhibernateNamespace" value="urn:nhibernate-mapping-2.0" />
 </appSettings>
 <AdditionalProjectFiles>
  <add filename="..\Version\GlobalAssemblyInfo.cs" subtype="Link" />
 </AdditionalProjectFiles>
 <ClobProperties>
  <add property="Xsl" />
  <add property="Body" />
  <add property="Description" />
 </ClobProperties>
</configuration>