body { color: #000000; font-family: Arial; font-size: 75%; }    
a { font-family: Arial; text-decoration: none; }
.notice_info { width: 592px; border: dotted 2px green; font-weight: bold; color: green; }
.notice_question { width: 592px; border: dotted 2px blue; font-weight: bold; color: blue; }
.notice_error { width: 592px; border: dotted 2px red; font-weight: bold; color: red; }
.notice_warning { width: 592px; border: dotted 2px orange; font-weight: bold; color: orange; }
.table_notice { text-align: left; font-family: Arial; width: 95%; }
.table_notice_tr_td { margin: 10px; font-family: Arial; }
.table { text-align: left; font-family: Arial; width: 740px; border: solid 1px black; }
.table_tr_td { padding: 2px; font-family: Arial; }
.table_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; }
.table_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; font-size: 0.9em; font-weight: bold; color: white; }
.table_tr_td_sel { padding: 2px; background: #DDDDDD; font-family: Arial; }
.table_main { width: 90%; }
.table_main_tr_td_left { width: 180px; }
.table_main_tr_td_right { width: 800px; }
.table_topics { font-family: Arial; width: 150px; border: solid 1px black; }
.table_topics_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_topics_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; font-weight: bold; }
.table_topics_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_topics_tr_td_sel { padding: 2px; background: #DDDDDD; font-weight: bold; font-family: Arial;  }
.table_highlights { font-family: Arial; width: 150px; border: solid 1px black; }
.table_highlights_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_highlights_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; font-weight: bold; }
.table_highlights_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_pager { padding: 2px; font-family: Verdana; font-weight: bold; }
.table_post { margin: 2px; text-align: left; font-family: Arial; width: 95%; border: solid 1px black; }
.table_post_tr_td { text-align: left; padding: 2px; font-family: Arial; }
.table_post_tr_th { text-align: left; font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_tr_td_label { text-align: right; font-family: Arial; }
.table_tr_td_value { text-align: left; font-family: Arial; }
.textbox { font-family: Arial; width: 520px; }
.dropdown { font-family: Arial; width: 520px; }
.checkbox { font-family: Arial; width: 520px; }
.upload { font-family: Arial; width: 520px; border: #666666 1px solid; }
.button { background-color: #dcdcdc; font-family: Arial; border-top: #cccccc 1px solid; border-bottom: #666666 1px solid; border-left: #cccccc 1px solid; border-right: #666666 1px solid; width: 100px; }
.title { background: url(images/site/title.gif) no-repeat; background-position: 0 50%; font-family: Arial; font-size: 18px; margin-top: 10px; margin-bottom: 10px; padding-left: 20px; font-weight: bold; }
.link { margin: 5px; font-family: Arial; font-weight: bold; }
.table_admin { font-family: Arial; width: 200px; border: solid 1px black; }
.table_admin_tr_td { margin: 5px; font-family: Arial; font-weight: bold; text-align: center; }
.table_admin_tr_th { text-align: center; font-family: Arial; background: black; padding: 2px; font-family: Arial; font-size: 0.9em; font-weight: bold; color: white; }
.div_top { height: 25px; }
.description { font-family: Arial; color: Silver; font-size: smaller; }
