body { color: #000000; font-family: Arial; font-size: 75%; }    
a { font-family: Arial; text-decoration: none; }
.notice_info { width: 592px; border: dotted 2px green; font-weight: bold; color: green; }
.notice_question { width: 592px; border: dotted 2px blue; font-weight: bold; color: blue; }
.notice_error { width: 592px; border: dotted 2px red; font-weight: bold; color: red; }
.notice_warning { width: 592px; border: dotted 2px orange; font-weight: bold; color: orange; }
.table_notice { text-align: left; font-family: Arial; width: 95%; }
.table_notice_tr_td { margin: 10px; font-family: Arial; }
.table { margin: 2px 10px 2px 10px; text-align: left; font-family: Arial; width: 700px; border: solid 1px black; }
.table_pager { padding: 2px; font-family: Verdana; font-weight: bold; }
.table_post { margin: 2px 10px 2px 10px; text-align: left; font-family: Arial; width: 1000px; }
.table_post_tr_td_left { text-align: left; padding: 2px; font-family: Arial; width: 800px; }
.table_post_tr_td_right { width: 200px; text-align: center; padding: 2px; font-family: Arial; }
.table_post_tr_th { text-align: left; font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_tr_td { padding: 2px; font-family: Arial; }
.table_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; }
.table_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; font-size: 0.9em; font-weight: bold; color: white; }
.table_tr_td_sel { padding: 2px; background: #DDDDDD; font-family: Arial; }
.table_main { width: 90%; }
.table_main_tr_td_left { width: 800px; }
.table_main_tr_td_right { width: 180px; }
.table_topics { font-family: Arial; width: 150px; border: solid 1px black; }
.table_topics_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_topics_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; font-weight: bold; }
.table_topics_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_topics_tr_td_sel { padding: 2px; background: #DDDDDD; font-weight: bold; font-family: Arial;  }
.table_highlights { font-family: Arial; width: 150px; border: solid 1px black; }
.table_highlights_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_highlights_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; font-weight: bold; }
.table_highlights_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_tr_td_label { text-align: right; font-family: Arial; }
.table_tr_td_value { text-align: left; font-family: Arial; }
.textbox { font-family: Arial; width: 400px; }
.dropdown { font-family: Arial; width: 400px; }
.checkbox { font-family: Arial; width: 400px; }
.upload { font-family: Arial; width: 400px; border: #666666 1px solid; }
.button { background-color: #dcdcdc; font-family: Arial; border-top: #cccccc 1px solid; border-bottom: #666666 1px solid; border-left: #cccccc 1px solid; border-right: #666666 1px solid; width: 100px; }
.title { background: url(images/site/title.gif) no-repeat; background-position: 0 50%; font-family: Arial; font-size: 18px; margin-top: 10px; margin-bottom: 10px; padding-left: 20px; font-weight: bold; }
.subtitle { font-family: Arial; font-size: 12px; margin: 2px 0px 5px 5px; font-weight: bold; }
.link { margin: 5px; font-family: Arial; font-weight: bold; }
.link_small { margin: 5px; font-family: Arial; font-weight: bold; font-size: 11px;}
.table_admin { font-family: Arial; width: 150px; border: solid 1px black; }
.table_admin_tr_td { margin: 5px; font-family: Arial; font-weight: bold; text-align: center; }
.table_admin_tr_th { text-align: center; font-family: Arial; background: black; padding: 2px; font-family: Arial; font-size: 0.9em; font-weight: bold; color: white; }
.div_top { height: 25px; }
.description { font-family: Arial; color: Gray; font-size: smaller; }
.post_title { margin: 2px 0px 2px 0px; font-size: 18px; font-family: Arial; font-weight: bold; }
.post_subtitle { margin: 2px 0px 2px 5px; font-size: 12px; font-family: Arial; font-weight: bold; }
.post_body { margin: 5px 5px 5px 5px; font-family: Arial; }
.table_comments { border: solid 1px black; text-align: left; font-family: Arial; width: 100%; }
.table_comments_body { margin: 2px 10px 2px 10px; font-family: Arial; }
.table_comments_note { margin: 2px 10px 2px 10px; text-align: right; font-size: 11px; font-weight: bold; font-family: Arial; }
.table_image { border: solid 1px black; margin: 2px 10px 2px 10px; text-align: center; font-family: Arial; width: 700px; }
.table_image_tr_td { padding: 2px; font-family: Arial; }
.counter { padding: 10px 2px 2px 2px; font-family: Arial; font-weight: bold; text-align: center; }
.table_feeds { font-family: Arial; width: 150px; }
.table_feeds_tr_th { text-align: center; font-family: Arial; background: black; padding: 2px; font-family: Arial; font-size: 0.9em; font-weight: bold; color: white; }
.table_feeds_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_feeditems { margin: 0px 0px 10px 0px; font-family: Arial; width: 150px; border: solid 1px black; }
.table_feeditems_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_feeditems_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; font-weight: bold; }
#busylight{ background-color: black; color: white; position: fixed; z-index: 3; top: 1px; left: 1px; width: 18em; margin: 1em; padding: 5px 5px 5px 5px; font: 10px/1.0em "Verdana"; text-align: left; border: 1px solid black; }
* html #busylight{ position: absolute; }
#busylight[id]{ position: fixed; }
