body { color: #000000; font-family: Arial; font-size: 75%; }    
a { font-family: Arial; text-decoration: none; }
.notice { border: solid 1px; border-color: silver; margin: 10px; padding: 3px; width: 574px; } 
.notice_info { border: dotted 2px green; margin: 10px; font-weight: bold; color: green; }
.notice_question { border: dotted 2px blue; margin: 10px; font-weight: bold; color: blue; }
.notice_error { border: dotted 2px red; margin: 10px; font-weight: bold; color: red; }
.notice_warning { border: dotted 2px orange; margin: 10px; font-weight: bold; color: orange; }
.table { font-family: Arial; border: solid 1px black; width: 100%; }
.table_tr_td { padding: 2px; font-family: Arial; }
.table_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; }
.table_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; }
.table_tr_td_sel { padding: 2px; background: #DDDDDD; font-family: Arial; }
.table_main { width: 800px; }
.table_topics { font-family: Arial; width: 150px; border: solid 1px black; }
.table_topics_tr_td { padding: 2px; font-family: Arial; font-weight: bold; }
.table_topics_tr_td_alt { background: #EEEEEE; padding: 2px; font-family: Arial; font-weight: bold; }
.table_topics_tr_th { font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
.table_topics_tr_td_sel { padding: 2px; background: #DDDDDD; font-weight: bold; font-family: Arial;  }
.table_pager { padding: 2px; font-family: Verdana; font-weight: bold; }
.table_blog { margin: 2px; text-align: left; font-family: Arial; width: 95%; border: solid 1px black; }
.table_blog_tr_td { text-align: left; padding: 2px; font-family: Arial; }
.table_blog_tr_th { text-align: left; font-family: Arial; background: black; padding: 2px; font-family: Arial; color: white; font-weight: bold;  }
